body {
    margin: 0;
    background-color: black;
}

#glCanvas {
    width: 100vw;
    height: 100vh;
    filter: blur(10px);
    position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
}

#errorMessage {
    margin-top: 10px;
    color: red;
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}

@keyframes menuListLoadup {
    from {
        margin-left: -10vh;
        filter: blur(30px);
    }
    to {
        margin-left: 10vh;
    }
}

@keyframes menuLogoLoadup {
    from {
        margin-top: -30vh;
        filter: blur(30px);
    }
    to {
        margin-top: 0px;
    }
}

#menuWrapper, #fpsCounter {
    position: absolute;
    overflow: auto;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: rgb(40, 100, 255);
    font-family: "Lucida Console";
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 0 3px white;
}

#logoImageID {
    width: 250px;
    margin-left: 10vh;
    overflow: hidden;
    animation-name: menuLogoLoadup;
    animation-duration: 1s;
}

#settingsList li{
    padding-top: 30px;
}

#exitSettings {
    text-align: end;
}

#renderQualitySlider {
    width: 100px;
}

#headerTitle {
	background-color: RGBA(40, 100, 255, 0.1);
}

#sourceCode {
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 15px;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
}

#mainMenuUL, #settingsPage, #codeContainer{
    overflow: initial;
    margin-left: 10vh;
    margin-top: 3vh;
    animation-name: menuListLoadup;
    animation-duration: 1s;
}

#mainMenuUL li {
    transition: 150ms;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10vw;
}

li a {
    text-decoration: none;
    color: inherit;
}

#mainMenuUL li:hover {
    margin-left: 2vh;
    cursor: pointer;
    background-color: RGBA(40, 100, 255, 0.25);
}

#mainMenuPage {
    display: block;
}

#settingsPage {
    display: none;
}

#codeContainer{
	display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}